<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            display: flex;
        }
        .sidebar {
            flex: 0 0 200px;
            height: 100vh;
            background-color: #f0f0f0;
            padding: 20px;
            box-sizing: border-box;
        }
        .sidebar a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
            color: #333;
        }
        .content {
            flex: 1;
            padding: 50px;
        }
    </style>
</head>
<body>
<div class="sidebar">
    <h1>Checkout</h1>
    <div class="sidebar-links">
        <a th:href="@{/bookstore_portal}">BookStore Portal</a>
        <a th:href="@{/cart}">View Cart</a>
        <a th:href="@{/customer_purchased_history}">Customer Purchased History</a>
        <a th:href="@{/customer_logout}">Log Out</a>
    </div>
</div>

         <table>
            <tbody>
                <thead>
                    <th>ISBN</th>
                    <th>Version</th>
                    <th>Book Name</th>
                    <th>Publisher</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </thead>
                <tr th:each="item: ${cart_items}">
                    <td th:text="${item.book.isbn}" />
                    <td th:text="${item.book.version}" />
                    <td th:text="${item.book.bookName}" />
                    <td th:text="${item.book.publisher}" />
                    <td th:text="${item.book.author}" />
                    <td th:text="${item.book.price}" />
                    <td th:text="${item.quantity}" />
                </tr>
            </tbody>
        </table>
        <div style="margin-right: 30px">
            <p th:text="'Total Cost: '+${total_cost}"></p>
        </div>
        <form action="" method="post">
            <input type="submit" value="Confirm Checkout" name="checkout"/>
        </form>
    </body>
</html>