<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sysc4806 Group22 Milestone 1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>Owner Creator</h1>
    <form action="#" method="post" th:action="@{/owner}" th:object="${model.Owner}">
        <p>Owner Email: <input type="text" th:field="*{email}"/></p>
        <p>Owner Phone Number: <input type="text" th:field="*{phoneNumber}"/></p>
        <p>Owner Username <input type="text" th:field="*{username}"/></p>
        <p>Owner Password: <input type="text" th:field="*{password}"/></p>
        <p>Owner Name: <input type="text" th:field="*{name}"/></p>
        <p>Owner Address: <input type="text" th:field="*{address}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value ="Reset"/></p>
    </form>
<p th:text="${model.OwnerRepository}" />
</body>
</html>